# OSM2World
/textures
/locales
/models
/srtm
/standard.properties

# Build
/target
/dist
/bin
/build

# IntelliJ
*.iml
*.iws
*.ipr
.idea/

# Eclipse
.settings/
.metadata/
.classpath
.project

# NetBeans
nbproject/
nbbuild/
nbdist/
nbactions.xml
nbbuild.xml
nb-configuration.xml

# Miscellaneous
*~
*.swp
.DS_Store
