# OSM2World
/textures
/locales
/models
/srtm
/*.properties

# Build
/target
/core/target
/core-jvm/target
/core-web/target
/desktop/target
/opengl/target
/dist
/bin
/build

# IntelliJ
*.iml
*.iws
*.ipr
.idea/

# Eclipse
.settings/
.metadata/
.classpath
.project

# NetBeans
nbproject/
nbbuild/
nbdist/
nbactions.xml
nbbuild.xml
nb-configuration.xml

# VSCode
.vscode

# Miscellaneous
*~
*.swp
*.tileset.json
.DS_Store
